@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,600;8..144,1000&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    background-color: #14142c;
    font-family: 'Roboto Flex', sans-serif;
}

header {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight: 1000;
    color: #e66465;
    padding: 50px 0px 25px 0px;
}

h2 {
    font-size: 42px;
    font-weight: 1000;
    color: #2132e4;
}

h3 {
    font-size: 28px;
    margin: 0;
}

.game-mode {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 150px 0px 150px;
    margin: 0;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 15%;
    border: 10px;
    background: radial-gradient(#e66465, #2132e4);
    user-select: none;
    cursor: pointer;
}

button h3 {
    padding-bottom: 50px;
}

button:hover {
    background: radial-gradient(#2132e4, #e66465);
    border: none;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    max-width: 150px;
    padding: 0;
    margin: 0;
}
